@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400;700&display=swap');

:root {
    --primary: #ff6565;
    --secondary: #FFBB2E;
    --success: ##33BC03;
    --danger: #F75157;
    --gray: #BCBCBC;
    --lightgray: #F1F7FC;
}

* {
    background-color: var(--lightgray);
    font-family: 'Sora', sans-serif;
}
